**/obj/
**/bin/
**/Debug/
**/Release/
**/.vs/
**/Log/
**/ReleaseProduction_BatteryLevel/

**/settings
**/Debug/*
**/Release/*
**/*.dep
**/*.log
**/*.log.pos
**/*.ewt
**/*.tmp
**/*.bak
**/*.dni

**/*.obj
**/*.o
**/*.pch
**/*.db
**/package.cpp
